# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
**/firebase-service-account*.json
**/serviceAccountKey*.json
**/ai-tax-prep-firebase-adminsdk-fbsvc-caaab40cd4*.json

# Build files
/dist
/build
/out

# Editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Debug logs
logs/
*.log

